html {
    color: rgb(255, 184, 31);
    font-size: 14pt;
    font-family: Courier New !important; font-size: 12pt !important;
}

.main-body {
    background-color:#181818;;
}

.main-content {
    position: absolute; height: 100%; width: 1200px; left: 50%; margin-left: -600px; overflow: auto;
}

.logout-box {
    position: fixed; height: auto; width: 200px; left: 50%; margin-left: -100px; bottom: 1px; text-align: center
}

.login-form-div {
    width: 100%; text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

input:-internal-autofill-selected { }

input[type=submit] {
    background-color: #181818;
    color: #FFF;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px; padding-left: 20px; padding-right: 20px;
    border: 1px solid rgb(255, 184, 31);
    font-size: 18pt;
    font-family: Courier New !important;
}
input[type=submit]:hover {
    background-color: rgb(255, 184, 31);
    color: #000;
    cursor: pointer;
}

input:auto-fill { }
input[type=text], input[type=password], input[type=date] {
    padding-bottom: 8px; padding-top: 8px;
    background-color: #181818;
    color: #FFF;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid rgb(255, 184, 31);
    font-size: 12pt; text-align: center;
    background: none;
    font-family: Courier New !important; font-size: 12pt !important;
}

textarea {
    width: 100%;
    font-size: 12pt;
    background-color: #202020;
    border: 0;
    color: rgb(255,184,31);
    font-family: Courier New !important; font-size: 12pt !important; padding: 4px; resize: vertical;
}

textarea:focus, textarea:hover, textarea::selection {
    border: 0;
}


a {
    decoration: none;
    color: rgb(255, 184, 31);
}

table {
    border-collapse: collapse;
}
tr {
    border-bottom: 1px solid #333;
}
tr:hover {
    background-color: #222; cursor: pointer;
}

td {
    overflow: hidden; white-space: nowrap; text-align: left;
}

.write-entry-div {
    width: auto; height: auto; text-align: center;
    padding: 20px; padding-top: 2px; border-bottom: 1px solid #555; margin-bottom: 8px;
}

.list-entries-div {
    width: auto; height: auto; text-align: center;
    padding: 20px;
}

.search-entries-div {
    width: auto; height: auto; text-align: center;
    padding: 20px; border-bottom: 1px solid #555; margin-bottom: 8px;
}

.log-select {
    width: 100%;
    background: none;
    color: rgb(255,184,31);
    border: none; 
    font-family: Courier New; font-size: 10pt;
}

select::selection {
    background-color: #000;
}

.entry-list-date {
    font-style: italic;
    color: #FFF;
}

.go-home a {
    decoration: none;
}
.go-home {
    text-align: center;
    height: auto; width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
}
.go-home:hover {
    background-color: #444;
}