html {
    color: rgb(31, 255, 184);
    font-size: 12pt;
    font-family: Courier New !important; font-size: 12pt !important;
}

::selection {
	color: #000;
	background: rgb(31, 255, 184);
}

.main-body {
    background-color:#181818;
	overflow-x: hidden;
}

.main-content {
    height: 100%; width: 1200px; max-width: 1200px; min-width: 800px; margin: auto;
	overflow-x: hidden;
}

.logout-box {
    position: fixed; height: auto; width: 200px; left: 50%; margin-left: -100px; bottom: 1px; text-align: center
}

.login-form-div {
    width: 100%; text-align: center;
    margin: 0;
    position: absolute;
    top: 40%; left: 0;
}

input[type=submit] {
    background-color: #181818;
    color: #FFF;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px; padding-left: 20px; padding-right: 20px;
    border: 1px solid rgb(31, 255, 184);
    font-size: 14pt;
    font-family: Courier New !important;
}
input[type=submit]:hover {
    background-color: rgb(31, 255, 184);
    color: #000;
    cursor: pointer;
}

input:auto-fill { }
input[type=text], input[type=password], input[type=date] {
    padding-bottom: 8px; padding-top: 8px;
    background-color: #181818;
    color: #FFF;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid rgb(31, 255, 184);
    font-size: 12pt; text-align: center;
    background: none;
    font-family: Courier New !important; font-size: 12pt !important;
}

textarea {
    width: 100%;
    font-size: 12pt;
    background-color: #202020;
    border: 0;
    color: rgb(31, 255, 184);
    font-family: Courier New !important; font-size: 12pt !important; padding: 4px; resize: vertical;
}

textarea:focus, textarea:hover, textarea::selection {
    border: 0;
}


a {
    color: rgb(31, 255, 184);
}

table {
    border-collapse: collapse;
}
tr {
    border-bottom: 1px solid #333;
}
tr:hover {
    background-color: #222; cursor: pointer;
}

td {
    overflow: hidden; white-space: nowrap; text-align: left;
}

#entry-tags {
	resize: none !important;
}

.write-entry-div {
	display: inline-block;
    width: 100%; height: auto; text-align: center;
    padding: 20px; padding-top: 2px; border-bottom: 1px solid #555; margin-bottom: 8px;
	overflow: hidden;
}
.write-entry-div:hover {
	background-color: #111;
}

.list-entries-div {
    width: auto; height: auto; text-align: center;
    padding: 20px;
	background-color: #111;
}
.list-entries-div:hover {
	background-color: #111;
}

.search-entries-div {
    width: auto; height: auto; text-align: center;
    padding: 20px; border-bottom: 1px solid #555; margin-bottom: 8px;
}
.search-entries-div:hover {
	background-color: #111;
}

.log-select {
    width: 100%;
	background-color: #111;
    color: rgb(31, 255, 184);
    border: none; 
    font-family: Courier New; font-size: 10pt;
}

select::selection {
    background-color: #000;
}

.entry-list-date {
    font-style: italic;
    color: #FFF;
}

.ross-log-title {
	font-size: 36pt; font-weight: bold; text-align: center;
    color: rgb(31, 255, 184);
}
.flash-msg-box {
	font-size: 12pt; text-align: center;
	color: #FFFF55;
}
.go-home a {
    decoration: none;
}
.go-home {
    text-align: center;
    height: auto; width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
	cursor: pointer;
}
.go-home:hover {
    background-color: #444;
}