<div class="search-entries-div">
    <form action="/retrieve" method="POST">
        <input type="date" name="start-date" min="2023-12-01" />
        <input type="date" name="end-date" min="2023-12-01" />
        <br/>
        <input type=text name="search-title" placeholder="Search Titles" />
        <input type=text name="search-body" placeholder="Search Text" />
        <input type=text name="search-tags" placeholder="Search tags" />
        <input type=submit value="Search" />
    </form>
</div>