<!-- title, body, tags -->
<div class="write-entry-div">
    <form method="POST" action="/write">
        <input type=text name="entry-title" id="entry-title" placeholder="Entry Title" /><br/>
        <textarea name="entry-body" id="entry-body" rows="3" placeholder="Entry Body" style="width:80%; float: left;"></textarea>
        <textarea name="entry-tags" id="entry-tags" rows="3" placeholder="Entry Tags" style="width:18%; float: right;"></textarea><br/>
        <input type="submit" value="Save" />
    </form>
</div>